@media only screen 
and (max-width: 850px) {
    .span4Container .span4 {
        width: calc(50% - 10px);
    }
    div.span4Container > div.span4:nth-child(2n+0) {
        margin-right: 0px;
    }
    .flagContainer .flag {
        width: calc(25%);
    }
    div.flagContainer > div.flag:nth-child(4n+0) {
        margin-right: 0px;
    }
    .mediaBlocks .image {
        height: 250px;
    }
    .teamsContainer .image {
        height: 22.5vw;
    }
    .eventsContainer .event .eventContent img {
        height: 50px;
    }
    .eventsContainer .event .eventContent {
        height: 50px;
    }
    .eventsContainer .event .eventContent h1 {
        visibility: hidden;
    }
    .eventsContainer .event .eventContent h2 {
        top: 30px;
    }
}


